//accordion.scss
:root {
    --accordion-border-color: #DDE0E3;
    --bg-accordion-active: #F5F5F5;
}

.accordion {
    border-top: 1px solid var(--accordion-border-color);
    --icon-size: 40px;
    --icon-mr: 1rem;
    --padding-hor: 24px;
    transition: all 0.3s ease;
    @media (max-width: 992px) {
        --icon-size: 30px;
        --icon-mr: 12px;
        --padding-hor: 16px;
    }
}
.accordion:hover {
    @media (any-hover:hover) {
        background: var(--bg-accordion-active);
    }
}

.accordion:last-of-type {
    border-bottom: 1px solid var(--accordion-border-color);
}

.accordion__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px #{'calc(var(--padding-hor) + 4px)'} 24px var(--padding-hor);
    @media (max-width: 1300px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.accordion__icon {
    --size: var(--icon-size);
    min-width: var(--size);
    max-width: var(--size);
    width: var(--size);
    height: var(--size);
    display: block;
    margin-right: var(--icon-mr);
    @media (max-width: 1300px) {
        --icon-size: 40px;
        margin-right: 16px;
    }
    @media (max-width:992px) {
        --icon-size: 30px;
        margin-right: 13px;
    }
}

.accordion__title {
    font-size: 1.125rem;
    @media (max-width: 1300px) {
        font-size: 1.1429rem;
        line-height: 150%;
    }
    @media (max-width:992px) {
        font-size: 12px;
    }
    @media (max-width:650px) {
        font-size: 14px;
        line-height: 160%;
        width: 85%
    }
}

.accordion__body {
    padding: 0 1.5rem 1.5rem 5.625rem; //16-24
    max-width: 48.4375rem;
    @media (max-width: 700px) {
        padding: 0 var(--padding-hor) 1.5rem var(--padding-hor); //16-24
    }
}

.accordion__desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: var(--c-text-regular);
    @media (max-width: 1300px) {
        font-size: 0.857rem;
    }
    @media (max-width:992px) {
        font-size: 0.951rem;
    }
    @media (max-width:650px) {
        font-size: 12px;
    }
}

.accordion .bayan__toggler {
    --width: 24px;
    --height: 24px;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
    height: var(--height);
    display: block;
    margin-left: auto;
    background-image: url('../img/common/angle-down.svg');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
    @media (max-width: 992px) {
        // --width: 10px;
        // --height: 6px;
    }
    @media (max-width: 650px) {
        --width: 12px;
        --height: 8px;
        background-size: cover;
        background-position: center;
    }
}


/**
 * States
 */

.accordion.bayan--opened {
    background: var(--bg-accordion-active);
}

.accordion--has-icon .accordion__head {
    padding-top: 19px;
    padding-bottom: 21px;
    @media (max-width: 992px) {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
.accordion--has-icon .accordion__body {
    padding-left: calc(var(--icon-size) + var(--icon-mr) + var(--padding-hor));
    @media (max-width:700px) {
        padding-left: var(--padding-hor);
    }
}
.accordion--has-icon .accordion__desc {
    max-width: 478px;
    @media (max-width:650px) {
        max-width: #{'calc(100% - 20px)'};
    }
}

