.logo {
    display: block;
    // max-width: 11.6rem;
    // height: 2.35rem;
    margin-right: 53px;
    @media (max-width: 992px) {
        margin-right: 0;
    }
}

.logo__img {
    display: block;
    object-fit: contain;
    width: 185px;
    height: 36px;
    @media (max-width: 1300px) {
        width: 185px;
        height: 36px;
    }
}